<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ninksi</title>

  <link rel="shortcit icon" href="/assets/ninka-logo.jpeg">
  <link rel="stylesheet" href="/styles/home-screen.css">
  <link rel="stylesheet" href="/styles/main.css">

  <script src="scripts/networking.js"></script>
  <script src="https://kit.fontawesome.com/506ff2e5ed.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;700&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  

</head>

<body onload="load()">
  <div class="home-screen">
    <nav>
      <div class="logo">
        <img src="/assets/ninka-logo.png" alt="Ninkasi logo">
      </div>

      <ul class="menu">
        <li><a href="" class="feed" id="feed" alt="Feed"><i class="fas fa-home"></i><span
              class="tooltiptext">Feed</span></a>
          <div class="line" id="line#feed"></div>
        </li>
        <li><a href="" class="notificacao" alt="Notificações" id="notificacao"><i class="fas fa-bell"></i><span
              class="tooltiptext">Notificações</span></a>
          <div class="line" id="line#notificacao"></div>
        </li>
        <li><a href="/shop" class="shop" alt="Shop" id="shop"><i class="fas fa-shopping-cart"></i><span
              class="tooltiptext">Shop</span></a>
          <div class="line" id="line#shop"></div>
        </li>
      </ul>

      <div class="user">
        <div class="dropdown">
          <i class="fas fa-caret-down"></i>
          <div class="dropdown-content">
            <ul class="dropdown-menu">
              <li><span alt="Configurações" id="delete-account"><i class="fas fa-cog"></i>Deletar Conta</span></li>
              <li><span alt="Sair" id="logout"><i class="fas fa-sign-out-alt"></i>Sair</span></li>
            </ul>
          </div>
        </div>

      </div>
    </nav>

    <div class="content">
      <div class="user-card">
        <header>
          <img src="/assets/beer.jpg" alt="Logo do Usuário">
          <h3 id="user-name"></h3>
          <hr>

        </header>

        <ul class="user-information">
          <li><p>Nível: 1</p></li>
          <li><p id="user-pontos">Pontos: 0</p></li>
        </ul>
      </div>
      <div class="feed-content">
        <div class="post-content">
          <div class="post">
            <div class="post-author">
              <img src="/assets/ambev-logo.png" alt="Ambev Logo">
              <h3>Ambev</h3>
            </div>

            <h2>Desconto de 10% para compras acima de 10 caixas de cerveja para associados Ambev até 23:59 de hoje.</h2>
            <hr>
            <div class="interation">
              <i class="far fa-heart" alt="Curtir"><span class="tooltiptext">Curtir</span></i>
              <i class="far fa-comment-alt" alt="Comentar" id="comentar"><span class="tooltiptext">Comentar</span></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="login-screen"></div>
  <script src="scripts/index.js"></script>
  <script src="scripts/common.js"></script>
</body>
</html>