<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeerApp</title>

  <link rel="shortcit icon" href="/assets/beer-logo.svg">
  <link rel="stylesheet" href="/styles/home-screen.css">
  <link rel="stylesheet" href="/styles/main.css">

  <script src="https://kit.fontawesome.com/506ff2e5ed.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700&family=Roboto:wght@300;400;700&family=Shadows+Into+Light&display=swap"
    rel="stylesheet">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

</head>

<body>
  <div class="home-screen">
    <nav>
      <div class="logo">
        <span class="iconify" data-inline="false" data-icon="noto-v1:clinking-beer-mugs"
          style="font-size: 74px;"></span>
        <h1>BeerApp</h1>
      </div>

      <ul class="menu">
        <li><a href="" class="feed" id="feed" alt="Feed"><i class="fas fa-home"></i><span class="tooltiptext">Feed</span></a><div class="line"></div></li>
        <li><a href="" class="perfil" alt="Perfil" id="perfil"><i class="fas fa-user-alt"></i><span class="tooltiptext">Perfil</span></a><div class="line"></div></li>
        <li><a href="" class="notificacao" alt="Notificações" id="notificacao"><i class="fas fa-bell"></i><span class="tooltiptext">Notificações</span></a><div class="line"></div></li>
        <li><a href="" class="shop" alt="Shop" id="shop"><i class="fas fa-shopping-cart"></i><span class="tooltiptext">Shop</span></a><div class="line"></div></li>
      </ul>

      <div class="user">
        <img src="/assets/user2.png" alt="Foto do usuário">
        <h3>Tobias</h3>
        <div class="dropdown">
          <i class="fas fa-caret-down"></i>
          <div class="dropdown-content">
            <ul class = "dropdown-menu">          
              <li><a href=""><i class="fas fa-users"></i>Adicionar Amigos</a></li>
              <li><a href=""><i class="fas fa-cog"></i>Configurações</a></li>

            </ul>
          </div>
        </div> 

      </div>
    </nav>

    <div class="content">
      <div class="user-card">
        <header>
          <img src="/assets/user2.png" alt="Foto do usuário">
          <h3>Tobias</h3>
          <h4>Niterói - RJ</h4>
          <hr>
        </header>

        <ul class="user-information">
          <li><a href="">Nível: 1</a></li>
          <li><a href="">Pontos: 0</a></li>
          <li><a href="">Seguidores: 0</a></li>
          <li><a href="">Tipo: Nenhum</a></li>
        </ul>
      </div>
      <div class="feed-content">
        <div class="text-field">
          <div class="icon-write">
            <span class="iconify write" data-inline="false" data-icon="jam:write"></span>
            <textarea name="mensagem" id="mensage" cols="50" maxlength="195" rows="4"
              placeholder="Qual cerveja você está tomando hoje?" required></textarea>
          </div>
          <hr>
          <div class="footer">
            <span class="iconify" data-icon="ant-design:camera-outlined" data-inline="false"></span>
            <input class="btn btn-large btn-primary pull-right" type="submit" id="posting" value="Publicar" />
          </div>

        </div>
        <div class="post-content">
            <div class="post">
              <div class="post-author">
                <img src="/assets/user1.png" alt="garotinha">
                <h3>Helenão</h3>
                <h4>@helenacs</h4>
              </div>
            
              <h2>Fiz o teste e encontrei a cerveja perfeita pra mim, muito bom!!</h2>
              <hr>
              <div class="interation">
                <i class="far fa-heart" alt="Curtir"><span class="tooltiptext">Curtir</span></i>
                <i class="far fa-comment-alt" alt="Comentar"><span class="tooltiptext">Comentar</span></i>
                <i class="fas fa-retweet" alt="Compartilhar"><span class="tooltiptext">Compartilhar</span></i>
              </div>
            </div>          
        </div>
      </div>
    </div>

  </div>

  <div class="login-screen"></div>
  <script src="scripts/index.js"></script>

</body>

</html>