.background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100%;
}
.filter-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: rgba(23, 23, 23, 0.8);
    z-index: 1;
}
.container{
    position: relative;
    display: flex;
    width: 767px;
    height: 562px;
    background-color: white;
    border-radius: 15px;
    z-index: 10;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}
.content {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #183227;
    width: 45%;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 430px;
}
.first-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
    width: 45%;
}
.second-column{
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 11px 11px 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
}
.title-primary {
    color: #fff;
    margin-bottom: 40px;
}
.title-secondary {
    color: #007457;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: rgba(255, 255, 255, 0.849);
    width: 252px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.description-secondary {
    color: #1d1d1db0;
    width: 252px;
    height: 38px;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 156px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    border-radius: 15px;
    outline: none;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
}
.btn-secondary {
    background-color: #008161;
    border: 1px solid #008161;
    transition: background-color .5s;
    text-decoration: none;
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 8px;
}
.btn-secondary:hover {
    background-color: #fff;
    border: 1px solid #008161;
    color: #008161;
}
.first-column a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.first-column a img{
    width: 35px;
    margin-right: 5px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#facebook img{
    width: 25px;
    margin-right: 5px;
}
#google img{
    width: 30px;
    margin-right: 5px;
}
.first-content{
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.g-signin2{
    border-radius: 8px;
}
.abcRioButtonContentWrapper span{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #111111c2;
}
.abcRioButtonContentWrapper{
    border-radius: 8px;
    width: 200px;
}
.customGPlusSignIn{
    height: 40px;
    position: relative;
    transition: 400ms;
}
.customGPlusSignIn:hover{
    transform: translateY(-3px);
}
.customGPlusSignIn i{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%);
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
.buttonText{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-65%, -50%);
}
.content-type{
    display: flex;
    color: black;
}
.content-type h3{
    margin-right: 10px;
}
.form input{
    display: flex;
    outline: none;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-second {
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color .5s;
    text-decoration: none;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
.form {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.form input {  
    height: 35px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill 
{    
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    display: flex;
    align-items: center;
    margin: 8px;
    background-color: #ecf0f1;
}
.label-input p{
    background-color: whitesmoke;
    color: whitesmoke;
    height: 20px;
    height: 56px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

form select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

label{
    display: flex;
    margin-bottom: 7px;
}

#modal-cadastro form label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}