nav{
    display: flex;
    align-items: center;
    background: #1f3d33;
    
    width: 100vw;
    height: 75px;
    position: fixed;
}
.menu{
    position: fixed;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
    padding-bottom: 15px;
}
.menu li{
    position: relative;
    float:left; 
    margin: auto 20px;
}
.shop{
    margin-right: 0;
}
.menu li a:hover{
    color: whitesmoke;
}
.menu li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px 10px; 
    color: rgba(255, 255, 255, 0.644);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 18px;
    margin-right: 40px;
}
.menu li i{
    font-size: 30px;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 15px;
}
.logo img{
    width: 150px;
    margin-top: 10px;
    margin-left: 200px;
}
.logo h1{
    margin-left: 5px;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px black;
}
.line{
    position: absolute;
    display: none;
    top: 48px;
    width: 56px;
    height: 4px;
    background-color: white;
}
.line.active{
    display: flex;
}
.menu a.active{
    color: whitesmoke;
    transition: 800ms;
}
.user{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    cursor: pointer;

    right: 15%;
}
.user img{
    width: 60px;
    height: 64px;
}
.user h3{
    width: 70px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user i{
    font-size: 18px;
    color: white;
}
.user-card{
    position: absolute;
    width: 306px;
    height: 431px;
    left: 10%;
    top: 154px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.user-card header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.user-card img{
    width: 134px;
    height: 131px;
}
.user-card h3{
    color: black;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
}
.user-card h4{
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #505050;
    margin-top: 8px;
}
.user-card hr{
    width: 200px;
    margin-top: 20px;
}
.user-card ul{
    padding-left: 50px;
}
.user-card li{
    margin-bottom: 15px;
}
.user-card a{
    text-decoration: none;
}
.user-information a{
    color: black;
}
.feed-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 593px;
    left: 50%;
    transform: translateX(-50%);
    top: 154px;
}
.text-field{
    background: #FFFFFF;
    border-radius: 8px;
    width: 523px;
    height: 180px;
    left: 35px;
    top: 43px;
}
.icon-write{
    display: flex;
    margin: 10px 50px 0 50px;
}
.text-field svg{
    color: rgba(77, 77, 77, 0.8);
    font-size: 28px;
    margin-top: 20px;
    margin-right: 5px;
}
.text-field textarea{
    width: 430px;
    resize: none;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border: none;
    outline: none;

    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-top: 22px;
}
.text-field hr{
    position: absolute;
    left: 44%;
    transform: translateX(-50%);
    margin: 0;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 60px;
}
.footer svg{
    cursor: pointer;
    position: relative;
    bottom: 15px;
    right: 140px;
    z-index: 1;
}
.footer .btn{
    width: 109px;
    height: 30px;
    left: 329px;
    top: 21px;
    width: 110px;
    height: 30px;

    background-color: #00694F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    border: 1px;
    transition: 0.8s;
    cursor: pointer;
}
.footer input:hover{
    background-color: #22aa88;
}
::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
.feed, .perfil, .shop, .notificacao{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;  
}
.feed .tooltiptext, .perfil .tooltiptext, .shop .tooltiptext, .notificacao .tooltiptext{
    visibility: hidden;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    z-index: 1;
  }
  .feed:hover .tooltiptext, .perfil:hover .tooltiptext, .notificacao:hover .tooltiptext, .shop:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.notificacao .tooltiptext {
    width: 120px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebebeb;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s;
  }
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}
.fa-caret-down:before {
    content: "\f0d7";
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 100%;
    padding: 8px 10px;
    padding-top: 5px;
}
.dropdown-menu{
    list-style: none;
    padding: 0;
}
.dropdown-menu a{
    text-decoration: none;
}
.dropdown-menu li:hover{
    padding: 6px;
}
.post-content{
    position: relative;
    margin-top: 20px;
    width: 523px;
    height: 154px;
    background: #FFFFFF;
    border-radius: 8px;
}
.post-content header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-author{
    display: flex;
    align-items: center;
}
.post-author h3{
    color: rgba(0, 0, 0, 0.904);
    margin-right: 3px;
}
.post-author h4{
    color: rgba(0, 0, 0, 0.76);
}
.post-content img{
    width: 50px;
    height: 50px;   
    margin: 15px;
    margin-right: 3px;
    margin-bottom: 0;
}
.post h2{
    font-family: Roboto;
    margin: 0;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
}
.post-content hr{
    border: 1px solid rgba(43, 43, 43, 0.137);
    width: 400px;
}
.interation{
    margin-left: 60px;
}
.interation i{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    cursor: pointer;
}
.fa-heart, .fa-comment-alt, .fa-retweet{
    position: relative;
    display: inline-block;
}
.fa-heart .tooltiptext, .fa-comment-alt .tooltiptext, .fa-retweet .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    left: 1px;
    z-index: 1;
  }
.fa-heart:hover .tooltiptext, .fa-comment-alt:hover .tooltiptext, .fa-retweet:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}
.fa-comment-alt .tooltiptext, .fa-retweet .tooltiptext{
    width: 120px;
}
.dropdown-menu i{
    font-size: 18px;
    color: black;
}
.dropdown-menu a{
    color: rgba(20, 20, 20, 0.822);
    font-size: 18px;
    font-weight: 600;
}
.fa-users{
    width: 18px;
    height: 18px;
}
.dropdown-menu li{
    margin-top: 40px;
    transition: 800ms;
}
.fa-users:before, .fa-cog:before, .fa-sign-out-alt::before{
    background-color: rgba(105, 105, 105, 0.315);
    border-radius: 100%;
    padding: 8px;
}
.fa-cog{
    margin-right: 14px;
}
.fa-users{
    font-size: 16px;
    margin-right: 28px;
}
.fa-users:before{
    padding: 8px 6px;
}
.fa-sign-out-alt{
    margin-right: 16px;
}
input[type='file'] {
    cursor: pointer;
}
.upload{
    background: none;
    width: 28px;
    height: 28px;
    opacity: 0;
    z-index: 100;
    cursor: pointer!important;
}
#user-photo{
    border-radius: 50%;
}
#dif-user-img{
    border-radius: 50%;
}