nav{
    display: flex;
    align-items: center;
    background: #283e4a;
    
    width: 100vw;
    height: 75px;
    position: fixed;
}
.menu{
    position: fixed;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
    padding-bottom: 15px;
}
.menu li{
    position: relative;
    float:left; 
    margin: auto 20px;
}
.shop{
    margin-right: 0;
}
.menu li a:hover{
    color: whitesmoke;
}
.menu li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px 10px; 
    color: rgba(255, 255, 255, 0.644);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 18px;
    margin-right: 40px;
}
.menu li i{
    font-size: 30px;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 15px;
}
.logo h1{
    margin-left: 5px;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px black;
}
.line{
    position: absolute;
    display: none;
    top: 48px;
    width: 56px;
    height: 4px;
    background-color: white;
}
.line.active{
    display: flex;
}
.menu a.active{
    color: whitesmoke;
    transition: 800ms;
}
.user{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    cursor: pointer;

    right: 15%;
}
.user img{
    width: 60px;
    height: 64px;
}
.user h3{
    width: 70px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user i{
    font-size: 18px;
    color: white;
}
.user-card{
    position: absolute;
    width: 306px;
    height: 431px;
    left: 10%;
    top: 154px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.user-card header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.user-card img{
    width: 134px;
    height: 131px;
}
.user-card h3, h4{
    color: black;
    margin: 0;
}
.user-card h3{
    font-size: 24px;
    line-height: 28px;
}
.user-card h4{
    font-size: 13px;
    line-height: 15px;
    text-align: center;

    color: #505050;
    margin-top: 8px;
}
.user-card hr{
    width: 200px;
}
.user-card ul{
    padding-left: 50px;
}
.user-card li{
    margin-bottom: 15px;
}
.user-card a{
    text-decoration: none;
}
.user-information a{
    color: black;
}
.feed-content{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 593px;
    left: 50%;
    transform: translateX(-50%);
    top: 154px;
}
.text-field{
    background: #FFFFFF;
    border-radius: 8px;
    width: 523px;
    height: 220px;
    left: 35px;
    top: 43px;
}
.icon-write{
    display: flex;
    margin: 10px 50px 0 50px;
}
.text-field svg{
    color: rgba(77, 77, 77, 0.8);
    font-size: 28px;
    margin-top: 20px;
    margin-right: 5px;
}
.text-field textarea{
    width: 430px;
    min-height: 120px;
    max-height: auto;
    resize: none;
    overflow: hidden;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border: none;
    outline: none;
    resize: none; 

    font-size: 18px;
    line-height: 21px;
    color: black;
    margin-top: 22px
}
.text-field hr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 390px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 60px;
}
.footer svg{
    margin: 0;
    cursor: pointer;
}
.footer input{
    width: 109px;
    height: 30px;
    left: 329px;
    top: 21px;
    width: 110px;
    height: 30px;

    background-color: #00694F;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
    border: 1px;
    transition: 0.8s;
    cursor: pointer;
}
.footer input:hover{
    background-color: #22aa88;
}
::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}
.feed{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;  
}
.feed .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    z-index: 1;
  }
  .feed:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.perfil{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.perfil .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    z-index: 1;
  }
.perfil:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.notificacao{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.notificacao .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    z-index: 1;
  }
.notificacao:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.shop{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.shop .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    z-index: 1;
  }
.shop:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222d0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.fa-caret-down:before {
    content: "\f0d7";
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 100%;
    padding: 8px 10px;
    padding-top: 5px;
}
.dropdown-menu{
    list-style: none;
}
.dropdown-menu a{
    text-decoration: none;
}