body{
    margin: 0;
}
nav{
    display: flex;
    align-items: center;
    background: #1f3d33;
    
    width: 100vw;
    height: 75px;
    position: fixed;
}
.menu{
    position: fixed;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
    padding-bottom: 15px;
}
.menu li{
    position: relative;
    float:left; 
    margin: auto 20px;
}
.shop{
    margin-right: 0;
}
.menu li a:hover{
    color: whitesmoke;
}
.menu li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px 10px; 
    color: rgba(255, 255, 255, 0.644);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 18px;
    margin-right: 40px;
}
.menu li i{
    font-size: 30px;
    margin-bottom: 5px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 5%;
    font-size: 15px;
}
.logo img{
    width: 150px;
    margin-top: 10px;
    margin-left: 200px;
}
.logo h1{
    margin-left: 5px;
    font-style: normal;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px black;
}
.line{
    position: absolute;
    display: none;
    top: 48px;
    width: 56px;
    height: 4px;
    background-color: white;
}
.line.active{
    display: flex;
}
.menu a.active{
    color: whitesmoke;
    transition: 800ms;
}
.user{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    cursor: pointer;

    right: 15%;
}
.user img{
    width: 50px;
    height: 54px;
}
.user h3{
    width: 70px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.user i{
    font-size: 18px;
    color: white;
}
.dropdown-menu i{
    font-size: 18px;
    color: black;
}
.dropdown-menu a{
    color: rgba(20, 20, 20, 0.822);
    font-size: 18px;
    font-weight: 600;
}
.fa-users{
    width: 18px;
    height: 18px;
}
.dropdown-menu li{
    margin-top: 40px;
    transition: 800ms;
}
.fa-users:before, .fa-cog:before, .fa-sign-out-alt::before{
    background-color: rgba(105, 105, 105, 0.315);
    border-radius: 100%;
    padding: 8px;
}
.fa-cog{
    margin-right: 14px;
}
.fa-users{
    font-size: 16px;
    margin-right: 28px;
}
.fa-users:before{
    padding: 8px 6px;
}
.fa-sign-out-alt{
    margin-right: 16px;
}
.feed, .perfil, .shop, .notificacao{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;  
}
.feed .tooltiptext, .perfil .tooltiptext, .shop .tooltiptext, .notificacao .tooltiptext{
    visibility: hidden;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.658);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    font-weight: 400;
    transition: opacity 1s;
   
    /* Position the tooltip */
    position: absolute;
    bottom: -50px;
    z-index: 1;
  }
  .feed:hover .tooltiptext, .perfil:hover .tooltiptext, .notificacao:hover .tooltiptext, .shop:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.notificacao .tooltiptext {
    width: 120px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebebeb;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
  }
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}
.fa-caret-down:before {
    content: "\f0d7";
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 100%;
    padding: 8px 10px;
    padding-top: 5px;
}
.dropdown-menu{
    list-style: none;
    padding: 0;
}
.dropdown-menu a{
    text-decoration: none;
}
.dropdown-menu li:hover{
    padding: 6px;
}
.shop-screen{
    height: 100vh;
    background-color: #E4E0E0;    
}
.ze-logo{
    bottom: 30px;
    right: 40px;
    transition: all 1s;
    cursor: pointer;

}
.ze-logo:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

#dif-user-img{
    border-radius: 50%;
}
.shop-content{
    display: flex;
    height: 100vh;
}
.shop-cards{
    flex: 6;
    margin-top: 75px;
}
.filter{
    flex: 1;
    margin-top: 130px;
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    border-radius: 8px;
    height: 600px;
}
.marcas-filter{
    background-color: white;
    height: 350px;
    border-radius: 8px;
    width: 93%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.tamanho-filter{
    background-color: white;
    height: 215px;
    border-radius: 8px;
    width: 93%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.filter-content{
    height: 75px;
}
.label-input {
    display: flex;
    align-items: center;
    margin: 8px;
    height: 30px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid grey;
}
.label-input input{
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 175px;
    height: 25px;
    outline: none;
    font-size: 16px;
}
.label-input i{
    padding-left: 0px;
    padding-right: 0px;
}
.fa-search{
    color: #7f8c8d;
    padding: 0 5px;
}
.checkbox{
    overflow-y: auto;
}
.checkbox::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 7px;
}
.checkbox::-webkit-scrollbar-button{
    display: none;
}
.checkbox::-webkit-scrollbar-thumb{
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
    background-color: rgba(0,0,0,.5);
}
.label-marcas, .label-tamanhos{
    margin-left: 5px;
}
.label-marcas label, .label-tamanhos label{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.tamanho-filter span, .marcas-filter span{
    font-size: 20px;
    margin: 5%;
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.tamanho-filter span{
    margin-bottom: 19px;
}
.shop-cards{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    width: 90%;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-top: 50px;
    align-items: center;
}
.card .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.beer{
    width: 200px;
    height: 200px;
}
.beer-logo{
    width: 150px;
}